.Programacion{
    color: white;
    background-color: rebeccapurple;

}

.Circuitos{
    background-color: green;
    

}

.Sociales{
    background-color: aqua;

}
.HorasLibres{
    background-color: deeppink;

}